# Auto detect text files and perform LF normalization
* text=auto
*.ipynb linguist-vendored
*.ipynb linguist-generated

*.py linguist-vendored
*.py linguist-detectable=false

*.html linguist-vendored
*.html linguist-detectable=false